<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<main>
  <div class="container" style="padding-bottom: 30px;">
    <div class="col"><%- include ('../partials/message') %></div>
    <table class="table" style="border-style: groove ;">
      <thead>
        <tr>
          <th>Author</th>
          <th>Post</th>
          <th>Topic</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% news.forEach(item => { %>
          <tr>
            <td><%= item.news_id %></td>
            <td><%= item.post %></td>
            <td><%= item.topic %></td>
            <td style="width: 30%;">
              <div class="row" style="width: 80%">
                <div class="col" style="margin-left: 30px;">
                  <form method ="POST" action ="/delete">
                    <input 
                        type = "hidden"
                        name = "deleteId"
                        value = "<%-item.news_id %>"
                    />
                    <input type="image" src="/resources/redXDelete.png" onclick="SubmitEvent" style="width: 45px; height: 50px; cursor: pointer; padding-top: 15% ;">
                    <!-- <button type="submit" class="btn btn-primary mb-3" style="background-color: red; border-color:red">Delete</button> -->
                  </form>
                </div>
                  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal<%- item.news_id %>">
                    Edit Post
                  </button> -->
                <div class="col" style="width: 30%">
                  <input type="image" src="/resources/editButton.png" data-bs-toggle="modal" data-bs-target="#editModal<%- item.news_id %>" style="width: 60px; height: 60px; cursor: pointer;"/>
                  <div class="modal fade" id="editModal<%- item.news_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Table</h5>
                          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action = "/edit" method = "POST">
                            <div class="mb-3">
                              <label for="post1" class="form-label">Post: </label>
                              <textarea class="form-control" id="editpost" name = "editpost" cols="30" rows="10" required><%- item.post%></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="topic1" class="form-label">Topic: </label>
                              <select id="edittopic" name="edittopic" required>
                                <option value="politics">Politics</option>
                                <option value="environment">Environment</option>
                                <option value="war">War</option>
                                <option value="sports">Sports</option>
                                <option value="technology">Technology</option>
                              </select>
                            </div>
                            <input type = "hidden" name = "editId" value = "<%- item.news_id %>"/>
                            <button type="submit" class="btn btn-primary">Edit Post</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>  
  </div>
</main>

<%- include ('../partials/footer') %>